<div fxLayout="column" fxLayoutAlign="start center" class="main-content-container">
    <h1>Contact TorleyDev!</h1>
    <mat-card class="contact-container">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
            <mat-card-subtitle>For enquiries and more information fill out this form and we will get back to you as soon as possible.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="">
                <label>hello</label>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Submit</button>
        </mat-card-actions>
    </mat-card>
</div>