<mat-toolbar color="primary" fxLayout="flex" fxLayoutAlign="space-between center" class="navbar-container">
    <br/>
    <h1 class="nav-title" routerLink="/">TorleyDev</h1>
    <div>
        <button mat-button color="accent" routerLink="/" class="nav-button">Home</button>
        <button mat-button color="accent" routerLink="/products" class="nav-button">Products</button>
        <button mat-button color="accent" routerLink="/about" class="nav-button">About</button>
        <button mat-button color="accent" routerLink="/contact" class="nav-button">Contact</button>
    </div>
</mat-toolbar>